@media (max-width: 739px) {
    .ant-row {
        flex-flow: column wrap;
    }

    .ant-col-6 {
        max-width: 11%;

        .sidebar {
            .ant-col-24 {
                display: none;
            }
            .user_info {
                display: block;
                .ant-avatar {
                    display: block;
                    margin-left: -10px;
                }
                .ant-btn {
                    display: none;
                }
                .username {
                    display: none;
                }
            }

            .mobile_menu {
                display: block;
            }
        }
    }

    .ant-col-18 {
        max-width: 89%;
    }

    .col_sidebar {
        max-width: 100%;
        .sidebar {
            .ant-col-24 {
                display: block;
            }
            .user_info {
                .ant-btn {
                    display: block;
                }
                .username {
                    display: block;
                }
            }
        }
    }

    // .col_chatWindow {
    //     max-width: 11%;
    // }
}
