@media (max-width: 739px) {
    .ant-col-6 {
        max-width: 10%;

        .sidebar {
            // display: none;
            .ant-col-24 {
                display: none;
            }
        }
    }

    .ant-col-18 {
        max-width: 90%;
    }
}
