.Message__wrapper {
    margin-bottom: 10px;
    // margin-left: 0;
    margin-right: 50%;
    // box-shadow: inset ;

    .author {
        margin-left: 5px;
        font-weight: bold;
    }

    .date {
        margin-left: 10px;
        font-size: 11px;
        color: #a7a7a7;
    }

    #box_text {
        background-color: cyan;
        margin-left: 30px;
        min-width: 300px;
        // padding: 3px 20px;
        border-radius: 10px;
    }
}
.content {
}

.myMess {
    display: flex;
    justify-content: flex-end;
    margin-left: 50%;
    margin-right: 0;

    #box_text {
        background-color: cyan;
    }
    .content {
    }
}
