.collapse__panel {
    .ant-collapse-header,
    span {
        color: white;
    }

    .ant-collapse-content-box {
        padding: 0 40px;

        a {
            display: block;
            margin-bottom: 5px;
            color: white;
        }
    }

    .add_room {
        color: white;
        padding: 0;
    }
}
